.contenedorBeneficios {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(0, 0, 0, 0.636);
    backdrop-filter: blur(5px);
    color: white;
    padding: 2rem;
}

.fondo {
    background-image: url('../../assets/beneficios2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.beneficiosItems {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    gap: 20px;
}



.beneficiosText {
    padding: 0 2rem ;
}

.beneficiosText h2  {
    font-weight: bold;
    font-size: 40px;
    line-height: 3rem;
    width: 50%;
    margin-bottom: 2rem;
}

.beneficiosText span {
    font-weight: bold;
    font-size: 40px;
    line-height: 3rem;
    width: 50%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
}

.beneficiosText p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.62);
    margin: 10px 0;
    width: 70%;
}

 .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.646);
    background-image:
    radial-gradient(white, rgba(4, 180, 171, 0.2) 2px, transparent 40px),
    radial-gradient(white, rgba(5, 239, 227, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(0, 152, 124, 0.1) 2px, transparent 40px),
    radial-gradient(rgba(0, 255, 166, 0.4), rgba(1, 111, 150, 0.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.item h2 {
    margin: 1rem 0;
    font-size: 20px;
    color: #0093E9;
    font-weight: bold;
}

.item p {
    font-size: 20px;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .contenedorBeneficios {
        grid-template-columns: repeat(1,1fr);
        padding: 2rem 0;
    }

    .beneficiosItems {
        padding: 1rem 2rem;
    }

    .beneficiosText h2{
        width: 100%;
    }

    .beneficiosText p {
        width: 100%;
    }

    .item {
        text-align: center;
        padding: 1rem;
    }
}
